

.modalBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #2C2C2C;
}

.modalContent {
  position: absolute;
  height: 100%;
  width: 100%;
}

.modalContent a:hover {
  color: beige !important;
}

.detailSection {
  height: 10vh;
  border-radius: 1rem;
  border: 1px solid #ededed;
}

@media (max-width: 720px) {
  #modalContainer {
    width: 95vw !important;
  }
}

@media (min-width: 721px) {
  #modalContainer {
    width: 80vw !important;
  }
}

@media (min-width: 1200px) {
  #modalContainer {
    width: 50vw !important;
  }
}